.card {
    width: 12rem;
    height: 15rem;
    padding-top: 20px;
}

.card-img-top {
    width: 70px;
    height: 70px;
    margin-bottom: -15px;
}

.card-title {
    font-weight: 700;
}

.container-second {
    gap: 15px;
    margin-right: 5rem;
    position: relative;
    bottom: 8rem;
    font-family: 'Nunito', sans-serif;

}

.card-body {
    text-align: center;
}

.day-title {
    font-weight: 600;
    margin: 1px;
}

.humidity {
    color: gray;
    margin: 5px
}

.humidity-item {
    font-weight: 500;
}

